.container {
    padding-top: 2em;
}

h1, p, input, button{
    font-family: 'Droid Serif', serif;
}


#town-name {
    /*width: 70%;*/
}

.input-group {
    width: 100%;
}

#submit, #openmap {
    background-color: #eee;
    border-color: #ccc;
}
#submit:hover, #openmap:hover {
    background-color: #ddd;
}

#openmap {
    /* Old red background color.
    background-color: #eb4141;
    */
}

.jumbotron {
    background-color: initial;
}

body {
    background-image: url('images/paper.png');
    line-height: 2em;
}
