.container {
    margin-top: 51px;
}

#loading-spinner {
    margin-right: 15px;
    /* text-top seems to center the spinner the best.*/
    vertical-align: text-top;
}

.navbar-timeline {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 2px 12em;
    margin: auto;
    overflow: hidden;
    height: 50px;
}

.navbar-timeline #navbar-year-container, .navbar-timeline #navbar-month-container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-overflow-mode: clip;
    white-space: nowrap;
    border: 0;
}

.navbar-timeline #navbar-loading-contaner {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #ccc;
    border-left: solid black 0px;
}
.navbar-timeline #navbar-loading-contaner-fill {
    left: 0;
    top: 0;
    width: 0px;
    border: 0;
    height: 1px;
    background-color: black;
}

.navbar-timeline #navbar-month-container {
    border: 0;
}

.navbar-timeline .navbar-year {
    display: inline;
    padding: 0 .7em;
}
.navbar-timeline .navbar-year.navbar-year-current {
    font-weight: bold;
}

.navbar-timeline .navbar-month {
    display: inline;
    padding: 0 .7em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.navbar-timeline .navbar-month.navbar-month-current {
    font-weight: bold;
}
.navbar-timeline .navbar-month.navbar-month-missing {
    color: #ccc;
}
.navbar-timeline .navbar-month:hover {
    color: #999;
}

#timeline .month-heading {
    box-sizing: border-box;
    margin-left: 50%;
    border-left: 1px solid black;
    padding-left: 10px;
    font-weight: bold;
    font-size: 200%;
    display: block;
    clear: both;
}

#timeline .content {
    display: table;
    width: 100%;
}

#timeline .content .right-content, #timeline .content .left-content {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    width: 50%;
    max-width: 50%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}

#timeline .content .left-content {
    clear: left;
}

#timeline .content .right-content {
    border-left: 1px solid black;
    clear: right;
}

#timeline .date-heading {
    padding-top: 1px;
    margin-left: 50%;
    border-left: 1px solid black;
}

.trove-content {
    padding: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid black;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.trove-content .trove-content-row {
    position: relative;

}
.trove-content .heading-wrapper {
    width: 100%;
    padding-right: 7em;
    display: inline-block;
}
.trove-content .heading {
    font-size: 140%;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.trove-content .date {
    position: absolute;
    float: right;
    color: #666;
    white-space: nowrap;
    text-align: right;
    width: 7em;
    right: 0;
    top: 0;
}
.trove-content .body {
    overflow: hidden;
    max-height: 10em;
}
