.container {
    margin-top: 51px;
}

.top-scroll-loading, .bottom-scroll-loading {
    padding: 50px 0px;
}

.top-scroll-loading.loading, .bottom-scroll-loading.loading {
    background: green;
    padding: 40px 0px;
    text-align: center;
}

.top-scroll-loading.loading *, .bottom-scroll-loading.loading * {
    display: initial; 
}

.top-scroll-loading *, .bottom-scroll-loading * {
    display: none; 
}

.navbar-timeline {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 2px 20%;
    margin: auto;
    overflow: hidden;
    height: 50px;
}

.navbar-timeline #navbar-year-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    text-align: center;
    border-bottom: 1px solid black;
    text-overflow-mode: clip;
    white-space: nowrap;
}

.navbar-timeline .navbar-year {
    display: inline;
    padding: 0 .7em;
}
.navbar-timeline .navbar-year.navbar-year-current {
    font-weight: bold;
}

#timeline .month-heading {
    box-sizing: border-box;
    margin-left: 50%;
    border-left: 1px solid black;
    padding-left: 10px;
    font-weight: bold;
    font-size: 200%;
    display: block;
    clear: both; 
}

#timeline .content {
    display: table;
    width: 100%;
}

#timeline .content .right-content, #timeline .content .left-content {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    width: 50%;
    max-width: 50%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}

#timeline .content .left-content {
    clear: left; 
}

#timeline .content .right-content {
    border-left: 1px solid black;
    clear: right; 
}

.trove-content {
    padding: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid black; 
    display: table;
    table-layout: fixed;
    width: 100%;
}

.trove-content .trove-content-row {
    position: relative;

}
.trove-content .heading-wrapper {
    width: 100%;
    padding-right: 7em;
    display: inline-block;
}
.trove-content .heading {
    font-size: 140%;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.trove-content .date {
    position: absolute;
    float: right;
    color: #666;
    white-space: nowrap;  
    text-align: right;  
    width: 7em;
    right: 0;
    top: 0;
}
.trove-content .body {
    overflow-y: hidden;
    max-height: 10em;
}